html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
}
section{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -140px;
}
.month{
    width: 60px;
    height: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.feb{
    left: 60px;
}
.mar{
    left: 120px;
}
.apr{
    left: 180px;
}
.may{
    left: 240px;
}
.june{
    left: 300px;
}
.july{
    left: 360px;
}
.aug{
    left: 420px;
}
.sep{
    left: 480px;
}
.oct{
    left: 540px;
}
.nov{
    left: 600px;
}
.dec{
    left: 660px;
}
.feb:hover ~ .slider{
    margin-left: -302px;
}
.mar:hover ~ .slider{
    margin-left: -604px;
}
.apr:hover ~ .slider{
    margin-left: -906px;
}
.may:hover ~ .slider{
    margin-left: -1208px;
}
.june:hover ~ .slider{
    margin-left: -1510px;
}
.july:hover ~ .slider{
    margin-left: -1812px;
}
.aug:hover ~ .slider{
    margin-left: -2114px;
}
.sep:hover ~ .slider{
    margin-left: -2416px;
}
.oct:hover ~ .slider{
    margin-left: -2718px;
}
.nov:hover ~ .slider{
    margin-left: -3020px;
}
.dec:hover ~ .slider{
    margin-left: -3322px;
}
.birds{
    width: 10%;
    position: absolute;
    top: 0;
    right: -130px;
    animation-name: fly;
    animation-duration: 45s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes fly{
    from{transform: translateX(0);}
    to{transform: translateX(-1500px);}
}
.months{
    width: 300px;
    /* height: 150px; */
    /* background-color: black; */
    overflow: hidden;
}
.slider{
    width: 600px;
    display: flex;
}
.box{
    width: 300px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    font-size: 0px;
    text-align: center;
}
.red,.pink,.yellow,.blue,.gray,.black{
    width: 265px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 10px;
}
.red{
    background-image: url("../img/red.png");
}
.pink{
    background-image: url("../img/pink.png");
}
.yellow{
    background-image: url("../img/yellow.png");
}
.blue{
    background-image: url("../img/blue.png");
}
.gray{
    background-image: url("../img/gray.png");
}
.black{
    background-image: url("../img/black.png");
}
.black{
    position: fixed;
    top: 12px;
    left: 17.5px;
    z-index: -1;
}
.red,.pink,.yellow,.blue,.gray{
    position: fixed;
    top: 12px;
    left: 17.5px;
    display: none;
    transition: .9s;
}
.l1{
    margin-top: 170px;
    margin-bottom: 3px;
}
.l2{
    margin-top: 3px;
    margin-bottom: 3px;
}
.l3{
    margin-top: 3px;
}
.btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    transition: .9s;
}
.one,.two,.three,.four,.five{
    font-weight: 700;
    font-size: 1.8rem;
}
.btn:hover{
    background-color: white;
    border-radius: 50%;
    color: #000;
}
.one:hover ~ .red{
    display: inline-block;
}
.two:hover ~ .pink{
    display: inline-block;
}
.three:hover ~ .yellow{
    display: inline-block;
}
.four:hover ~ .blue{
    display: inline-block;
}
.five:hover ~ .gray{
    display: inline-block;
}
h3{
    color: #fff;
    line-height: 45px;
    font-size: 1.5rem;
    text-align: center;
}
.dd{
    color: #5c5c5c;
    /* cursor: pointer; */
}
.dd:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #5c5c5c;
}
.years{
    width: 300px;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    transition: .9s;
}
.pre,.for{
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}