@media (min-width:320px) and (max-width:480px){
    section{
        background-position: 0px 0px;
    }
    .birds{
        width: 50%;
        position: absolute;
        animation-name: fly;
        animation-duration: 15s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-delay: 1s;
    }
    @keyframes fly{
        from{transform: translateX(0);}
        to{transform: translateX(-400px);}
    }
}