*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    box-sizing: border-box;
}

html{
    font-size: 62.85%;
}
.wrapper{
    display: flex;
}
.header{
    width: 10%;
    height: 100vh;
    width: 15%;
    background-color: #181818;
}
.container{
    width: 85%;
    height: 100vh;
    background-color: #1D1D1D;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slide{
    width: 100%;
    height: 100vh;
    padding: 20px 30px;
}
.slide:nth-child(2){
    background-color: #000;
}
.home-slide{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}



/* //////////////////////////////////////////////////////////////// */
.logo{
    width: 100%;
    border-bottom: 1px solid #282828;
    /* height: 150px; */
}
.nav{
    text-align: center;
}
.nav .fab,.fas{
    font-size: 2.5rem;
    color: white;
    margin: 10px 5px;
}
.profile{
    width: 90%;
    border: 2px solid #000;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 9%;
}
.navigation{
    list-style-type: none;
    justify-content: center;
}
.nav_link a{
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 2.6rem;
    color: #909096;
    line-height: 3rem;
    border-bottom: 1px solid #282828;
    padding: 10px 0;
}
.detl{
    color: #fff;
    font-size: 55px;
    line-height: 60px;
}
.ani{
    /* display: inline-block; */
    display: flex;
    height: 60px;
    overflow: hidden;
    font-size: 55px;
    color: white;
    line-height: 60px;
    gap: 10px;
}
.anio{
    animation-name: slide;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
.ani1{
    height: 60px;
}
.ani2{
    height: 60px;
}
@keyframes slide {
    0%{
        margin-top: 2px;
    }
    50%{
        margin-top: -56px;
    }
    100%{
        margin-top: 2px;
    }
    
}
.about{
    color: white;
    font-size: 20px;
    line-height: 35px;
}
.tech{
    font-size: 45px;
    color: white;
}
.list{
    display: flex;
    gap: 20px;
}
.btn{
    width: 300px;
    height: 50px;
    color: #000;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: 1.5s;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 25px #1fb8fc;
}
.btn a{
    text-decoration: none;
    color: white;
}
.about-box{
    display: flex;
    margin-top: 20px;
}
.about-text{
    width: 50%;
}
.animat{
    width: 50%;
}
.about-img{
    width: 80%;
}
.bar-box{
    padding: 10px 20px;
}
.bar-border{
    border: 1px solid black;
    border-radius: 10px;
}
.bar{
    height:14px;
    background-color:#9e9e9e;
    border-radius: 10px;
}
.html-bar{
    width:90%;
    color:#000;
}
.bar-text{
    color: #fff;
    line-height: 20px;
}
.css-bar{
    width:85%;
    color:#000;
}
.js-bar{
    width:65%;
    color:#000;
}
.strp-bar{
    width: 87%;
    color:#000;
}
.tail-bar{
    width: 67%;
    color:#000;
}
.card-box{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 45px;
}
.card{
    width: 30%;
    transition: 2s;
}
.card:hover{
    transform: scale(1.15);
}
.proj-img{
    width: 70%;
    transition: 1.5s;
    border-radius: 10px;
}
.proj-img:hover{
    border-radius: 10px;
    box-shadow: 0 0 25px #1fb8fc;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.form-group {
    margin-bottom: 2.5rem;
}
.form-control {
    width: 80%;
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
input, textarea{
    transition: 1.5s;
}
input:hover{
    box-shadow: 0 0 25px #1fb8fc;
}
textarea:hover{
    box-shadow: 0 0 25px #1fb8fc;
}